{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script src = "{% static 'js/quiz.js' %}"></script>

</head>

<body>

    <div class="container">
      <div class="login">
        <h1>Login</h1>
              {% if error is not None %}
                <p>User doesnt exists please signup</p>
                {% endif %}
        <form method="post" action="{% url 'login:login' %}" >
        {% csrf_token %}
          username:<input type="text" name="username">
        </br>
          password:<input type="password" name="password">
          <p class="remember_me">
            <input type="checkbox" name="remember_me" id="remember_me" checked>
            <label for="remember_me"><span class="box"></span>Remember me on this computer</label>
            </p>
          <p class="submit"><input type="submit" name="commit" value="Login"></p>
        </form>
               <form id="finishForm" action="{% url 'login:signup' %}">
                    <input type="submit" value="signup">
                </form>

      </div>
    </div>
</body>
</html>
