{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script src = "{% static 'js/quiz.js' %}"></script>
</head>

    <div class="container">
      <div class="login">
        <h1>Signup</h1>
        <form method="post" action="{% url 'login:signup' %}" >
        {% csrf_token %}
          username:<input type="text" name="username">
        </br>
          password:<input type="text" name="password">
        </br>
          email:<input type="text" name="email">
          <input type="submit"  value="signup">
        </form>
      </div>
    </div>
</html>
